---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: k3kcontrolplanes.controlplane.cluster.x-k8s.io
spec:
  group: controlplane.cluster.x-k8s.io
  names:
    kind: K3kControlPlane
    listKind: K3kControlPlaneList
    plural: k3kcontrolplanes
    singular: k3kcontrolplane
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: K3kControlPlane is the Schema for the k3kcontrolplanes API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: K3kControlPlaneSpec defines the desired state of K3kControlPlane
            properties:
              clusterSpec:
                description: ClusterSpec is the spec of the k3k cluster that should
                  be deployed
                properties:
                  addons:
                    items:
                      properties:
                        secretNamespace:
                          type: string
                        secretRef:
                          type: string
                      type: object
                    type: array
                  agentArgs:
                    items:
                      type: string
                    type: array
                  agents:
                    format: int32
                    type: integer
                  clusterCIDR:
                    type: string
                  clusterDNS:
                    type: string
                  expose:
                    properties:
                      ingress:
                        properties:
                          enabled:
                            type: boolean
                          ingressClassName:
                            type: string
                        required:
                        - enabled
                        - ingressClassName
                        type: object
                      loadbalancer:
                        properties:
                          enabled:
                            type: boolean
                        required:
                        - enabled
                        type: object
                      nodePort:
                        properties:
                          enabled:
                            type: boolean
                        required:
                        - enabled
                        type: object
                    required:
                    - ingress
                    - loadbalancer
                    - nodePort
                    type: object
                  persistence:
                    properties:
                      storageClassName:
                        type: string
                      storageRequestSize:
                        type: string
                      type:
                        description: Type can be ephermal, static, dynamic
                        type: string
                    required:
                    - type
                    type: object
                  serverArgs:
                    items:
                      type: string
                    type: array
                  servers:
                    format: int32
                    type: integer
                  serviceCIDR:
                    type: string
                  tlsSANs:
                    items:
                      type: string
                    type: array
                  token:
                    type: string
                  version:
                    type: string
                required:
                - agents
                - servers
                - token
                - version
                type: object
              hostKubeconfig:
                description: |-
                  HostKubeconfig is the location of the kubeconfig to the host cluster that the k3k cluster should install in.
                  Optional, if not supplied the k3k cluster will be made in the current cluster.
                properties:
                  secretName:
                    type: string
                  secretNamespace:
                    type: string
                required:
                - secretName
                - secretNamespace
                type: object
            required:
            - clusterSpec
            type: object
          status:
            description: K3kControlPlaneStatus defines the observed state of K3kControlPlane
            properties:
              clusterStatus:
                properties:
                  clusterCIDR:
                    type: string
                  clusterDNS:
                    type: string
                  persistence:
                    properties:
                      storageClassName:
                        type: string
                      storageRequestSize:
                        type: string
                      type:
                        description: Type can be ephermal, static, dynamic
                        type: string
                    required:
                    - type
                    type: object
                  serviceCIDR:
                    type: string
                  tlsSANs:
                    items:
                      type: string
                    type: array
                type: object
              externalManagedControlPlane:
                description: ExternalManagedControlPlane will always be true in the
                  current implementation
                type: boolean
              initialized:
                type: boolean
              ready:
                type: boolean
            required:
            - clusterStatus
            - externalManagedControlPlane
            - initialized
            - ready
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
